<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="tests">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/Examples</exclude>
        </testsuite>

        <testsuite name="examples">
            <directory suffix="Test.php">./tests/Examples</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>